@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Marwans web</h1>
    <p>Enjoy navigating through this web page</p>
</div>
